body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163 {
  position:absolute;
  left:158px;
  top:184px;
  width:359px;
  height:524px;
  overflow:hidden;
  touch-action:pan-y;
}
#u163_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:524px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u163_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:521px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:521px;
}
#u165 {
  position:absolute;
  left:2px;
  top:252px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:524px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u163_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u166 {
  position:absolute;
  left:0px;
  top:-18px;
  width:358px;
  height:541px;
  overflow:hidden;
  touch-action:pan-y;
}
#u166_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u166_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:487px;
}
#u167 {
  position:absolute;
  left:-2px;
  top:54px;
  width:360px;
  height:487px;
}
#u168 {
  position:absolute;
  left:2px;
  top:236px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u166_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:487px;
}
#u169 {
  position:absolute;
  left:0px;
  top:54px;
  width:360px;
  height:487px;
}
#u170 {
  position:absolute;
  left:2px;
  top:236px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u166_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:487px;
}
#u171 {
  position:absolute;
  left:0px;
  top:54px;
  width:360px;
  height:487px;
}
#u172 {
  position:absolute;
  left:2px;
  top:236px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u166_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:487px;
}
#u173 {
  position:absolute;
  left:0px;
  top:55px;
  width:360px;
  height:487px;
}
#u174 {
  position:absolute;
  left:2px;
  top:236px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:541px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u166_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:487px;
}
#u175 {
  position:absolute;
  left:0px;
  top:54px;
  width:360px;
  height:487px;
}
#u176 {
  position:absolute;
  left:2px;
  top:236px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  position:absolute;
  left:1px;
  top:0px;
  width:72px;
  height:42px;
}
#u177_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177.selected {
}
#u178 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:72px;
  top:0px;
  width:72px;
  height:42px;
}
#u179_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179.selected {
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:144px;
  top:0px;
  width:72px;
  height:42px;
}
#u181_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181.selected {
}
#u182 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:215px;
  top:0px;
  width:72px;
  height:42px;
}
#u183_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183.selected {
}
#u184 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:287px;
  top:0px;
  width:72px;
  height:42px;
}
#u185_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185.selected {
}
#u186 {
  position:absolute;
  left:2px;
  top:14px;
  width:68px;
  word-wrap:break-word;
}
#u163_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:524px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u163_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:521px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:521px;
}
#u188 {
  position:absolute;
  left:2px;
  top:252px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:106px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:158px;
  top:78px;
  width:359px;
  height:106px;
}
#u190 {
  position:absolute;
  left:2px;
  top:45px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 102, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:175px;
  top:130px;
  width:330px;
  height:36px;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:2px;
  top:7px;
  width:326px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:305px;
  top:139px;
  width:20px;
  height:20px;
}
#u194 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u195 {
  position:absolute;
  left:173px;
  top:94px;
  width:22px;
  height:22px;
}
#u196 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u197 {
  position:absolute;
  left:479px;
  top:95px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:212px;
  top:78px;
  width:266px;
  height:51px;
  overflow:hidden;
}
#u199_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:9px;
  top:6px;
  width:76px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u200_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u200.selected {
}
#u201 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:95px;
  top:6px;
  width:76px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u202_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u202.selected {
}
#u203 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:181px;
  top:6px;
  width:76px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u204_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
  background:inherit;
  background-color:rgba(47, 193, 122, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u204.selected {
}
#u205 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
}
#u206 {
  position:absolute;
  left:158px;
  top:707px;
  width:360px;
  height:55px;
}
#u207 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
